//
// Yet Another POD-Bot, based on PODBot by Markus Klinge ("CountFloyd").
// Copyright (c) YaPB Development Team.
//
// This software is licensed under the BSD-style license.
// Additional exceptions apply. For full license details, see LICENSE.txt or visit:
//     https://yapb.jeefo.net/license
//

#include <winver.h>
#include <../include/resource.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION PRODUCT_VERSION_DWORD
PRODUCTVERSION PRODUCT_VERSION_DWORD
FILEOS 0x40004
FILETYPE 0x2
{  
    BLOCK "StringFileInfo"
    {
      BLOCK "040904E4"
      {   
          VALUE "CompanyName",       PRODUCT_AUTHOR        "\0"
          VALUE "FileDescription",   PRODUCT_DESCRIPTION   "\0"
          VALUE "FileVersion",       PRODUCT_VERSION       "\0"
          VALUE "OriginalFilename",  PRODUCT_ORIGINAL_NAME "\0"
          VALUE "LegalCopyright",    PRODUCT_COPYRIGHT     "\0"
          VALUE "LegalTrademarks",   PRODUCT_LEGAL         "\0"
          VALUE "ProductName",       PRODUCT_NAME          "\0"
          VALUE "ProductVersion",    PRODUCT_VERSION       "\0"
          VALUE "InternalName",      PRODUCT_INTERNAL_NAME "\0"
      }
    }
#ifndef NOLANGINFO
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x400, 1252
    }
#endif
}