//
// YaPB - Counter-Strike Bot based on PODBot by Markus Klinge.
// Copyright © 2004-2020 YaPB Development Team <team@yapb.ru>.
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//

#include <winver.h>

#ifdef VERSION_GENERATED
#  define VERSION_HEADER <version.build.h>
#else
#  define VERSION_HEADER "../inc/version.h"
#endif

#include VERSION_HEADER

VS_VERSION_INFO VERSIONINFO
FILEVERSION MODULE_BOT_VERSION_FILE
PRODUCTVERSION MODULE_BOT_VERSION_FILE
FILEOS 0x40004
FILETYPE 0x2 {  
    BLOCK "StringFileInfo" {
      BLOCK "040904E4" {   
         VALUE "CompanyName",       "YaPB Development Team"                                                         "\0"
         VALUE "FileDescription",   "YaPB v" MODULE_BOT_VERSION "." MODULE_BUILD_COUNT  " - The Counter-Strike Bot" "\0"
         VALUE "LegalCopyright",    "Copyright \251 2020 YaPB Development Team"                                     "\0"
         VALUE "OriginalFilename",  "yapb.dll"                                                                      "\0"
         VALUE "ProductName",       "YaPB"                                                                          "\0"
         VALUE "InternalName",      "YaPB DLL"                                                                      "\0"
         VALUE "FileVersion",       MODULE_BOT_VERSION "." MODULE_BUILD_COUNT                                       "\0"
         VALUE "ProductVersion",    MODULE_BOT_VERSION "." MODULE_BUILD_COUNT                                       "\0"
         VALUE "SpecialBuild",      MODULE_BOT_BUILD_ID                                                             "\0"
      }
    }
    BLOCK "VarFileInfo" {
       VALUE "Translation", 0x400, 1200
    }
}